.cta
    color: #FFF

    & > .container
        display: grid
        grid-template-columns: 100px auto 300px
        grid-column-gap: 20px
        align-items: center

    &.blue
        background: $blue

        & > .container
            display: grid
            grid-template-columns: 150px auto 300px


    &.grey
        background: $grey

        & > .container
            display: grid
            grid-template-columns: 300px auto 150px

    

