+keyframes(sms1)
    0%
        top: 400px
        opacity: 0

    100%
        top: 15px
        opacity: 1

+keyframes(sms2)
    0%
        top: 400px
        opacity: 0

    100%
        top: 160px
        opacity: 1


+keyframes(sms3)
    0%
        top: 400px
        opacity: 0

    100%
        top: 225px
        opacity: 1

.main
    padding: 100px 20px
    overflow: hidden

    & > .ilustration
        display: none
        position: relative

        & > div
            position: absolute
            left: calc(50% - 175px)
            top: -50px

    & > .info
        & > h2
            font-size: 40px
            line-height: 45px
            font-weight: 300
            color: $blue
            padding: 10px 0px

        & > p
            color: $grey-light-2
            font-size: 20px
            line-height: 25px


        & > .prime
            font-size: 12px
            padding-bottom: 5px
            font-weight: 500
            line-height: 25px
            color: #647c94

            & > img
                height: 25px
                float: left
                margin-right: 5px

            & > b
                font-weight: 700

    +breakpoint($md-breakpoint)
        display: grid
        grid-template-columns: auto 45%
        grid-column-gap: 30px

        & > .ilustration
            display: block

.picture
    img
        +breakpoint($md-breakpoint)
            width: 80%


.phone-color
    border-color: $grey

    &:after
        border-color: $grey

    & > div
        border-color: $grey

        &:after
            border-color: $grey
            
.phone
    background: #FFF
    position: relative
    padding: 20px
    border-width: 3px
    border-style: solid
    width: 350px
    height: 635px
    border-radius: 20px
    display: grid
    grid-template-columns: 40% 60%
    grid-row-gap: 15px
    align-items: center
    justify-items: center
    box-sizing: content-box

    &:after
        box-sizing: content-box

        & > div
            box-sizing: content-box

            &:after
                box-sizing: content-box

    &:after
        content: ' '
        position: absolute
        border-width: 1px
        border-style: solid
        border-radius: 15px
        top: 5px
        bottom: 5px
        left: 5px
        right: 5px

.cam
    justify-self: right
    border-width: 2px
    border-style: solid
    width: 10px
    height: 10px
    border-radius: 50%
    margin-right: 10px

.speaker
    justify-self: left
    border-width: 2px
    border-style: solid
    width: 90px
    height: 5px
    border-radius: 15px

.frame
    border-width: 2px
    border-style: solid
    width: 295px
    height: 510px
    grid-column: 1 / 3
    position: relative
    z-index: 3
        
    & > div:nth-child(1)
        animation: sms1 3s forwards 

    & > div:nth-child(2)
        animation: sms2 2s forwards 1s 

    & > div:nth-child(3)
        animation: sms3 1s forwards 2s

.button
    position: relative
    border-width: 2px
    border-style: solid
    border-radius: 50%
    width: 40px
    height: 40px
    grid-column: 1 / 3

    &:after
        content: ' '
        position: absolute
        border-width: 1px
        border-style: solid
        border-radius: 50%
        top: 5px
        bottom: 5px
        left: 5px
        right: 5px

.sms
    padding: 15px
    width: 75%
    background: transparentize($blue, 0.7)
    border-radius: 10px
    font-size: 14px
    text-align: justify
    color: #4d6973
    position: absolute
    left: inherit
    right: 15px
    top: 400px
    opacity: 0

.sms-r 
    @extend .sms
    background: transparentize($grey, 0.7)
    left: 15px
    right: inherit