@import url('https://fonts.googleapis.com/css?family=Material+Icons|Leckerli+One|Noto+Sans+HK:300,400,600,700&display=swap')
@import "variables"
@import "mixings"
@import "icons"

*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Noto Sans HK', sans-serif
    font-weight: 300
    text-rendering: geometricPrecision

body
    background: $grey-light

// Components
@import "components/grid"
@import "components/button"

// Sections
@import "sections/header"
@import "sections/main"
@import "sections/product"
@import "sections/cta"
@import "sections/footer"
@import "sections/institutional"
@import "sections/price"
