<div class="price" id="catalogo">
    <div class="container values">
        <h3>Catálogo</h3>
        <div>
            Para conhecer nosso catálogo de serviços, clique no botão "Solicitar Catálogo":
            <div class="actions">
                <a href="https://forms.gle/q2A6R9pfjaYf4AKs5" class="btn blue" target="_blank" rel="noopener noreferrer">Solicitar Catálogo</a>
            </div>
        </div>
    </div>

    <div class="container values">
        <div>
            Também temos um material em PDF para você conhecer mais sobre a GKW Tools, clique no botão "Apresentação GKW Tools:
            <div class="actions">
                <a href="https://forms.gle/q2A6R9pfjaYf4AKs5" class="btn blue" target="_blank" rel="noopener noreferrer">Apresentação GKW Tools</a>
            </div>
        </div>
    </div>

    <div class="container inteligence">
        <div class="text">
            {{{ inteligencia.html }}}
        </div>
        <div>
            <div data-img="/assets/images/prices/importancia.jpeg" data-alt=""></div>
        </div>
    </div>
</div>





