<div class="cta grey">
    <div class="container">
        <a class="btn white outline" href="{{cta2.meta.link}}">{{cta2.meta.cta}}</a>
        {{{ cta2.html }}}
        <div class="image">
            <div data-img="/assets/images/report.png" data-alt="image de um relatório gigante com dados e gráfico mostrando que nossos clientes tem relatórios mais completos"></div>
        </div>
    </div>
</div>