<div class="cta blue">
    <div class="container">
        <div class="image">
            <img src="/assets/images/medal.png" />
        </div>
        {{{ cta1.html }}}
        <a class="btn white outline" href="{{cta1.meta.link}}">{{cta1.meta.cta}}</a>
    </div>
</div>