<footer class="footer">
    <div class="container">
        <div class="logo">Wisple</div>
        <div class="social-icons">
            <a href="https://www.instagram.com/wisple.ia/" target="_blank">
                <i class="fi insta"></i>
            </a>
            <a href="https://www.facebook.com/WispleApp/" target="_blank">
                <i class="fi face"></i>
            </a>
            <a href="https://api.whatsapp.com/send?phone=+5516997229327" target="_blank">
                <i class="fi whats"></i>
            </a>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3704.656070137298!2d-48.21210378550604!3d-21.793568104572586!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94b8f1887a4c9a99%3A0xd2b619efd96feb76!2sAv.+Romulo+Lupo%2C+1487+-+Jardim+Universal%2C+Araraquara+-+SP%2C+14801-700!5e0!3m2!1sen!2sbr!4v1561483044611!5m2!1sen!2sbr" width="350" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
        <div class="links">
            <div></div>
            <div>
                <a href='/#produto'>Produto</a>
                <a href='/#vantagens'>Vantagens</a>
                <a href='/#sobre'>Sobre Nós</a>
                <a href='/#preco'>Preços</a>
                <a href='https://blog.wisple.app' target="_blank">Blog</a>
            </div>
            <div>
                <a href='/politica/privacidade.pdf' target="_blank">Política de Privacidade</a>
                <a href='/politica/cancelamento.pdf' target="_blank">Politica de Cancelamento</a>
            </div>
        </div>
    </div>
    <div class="copyright">
        Todos os direitos são resevados para Wisple© 2019
    </div>
</footer>