<footer class="footer">
    <div class="container">
        <div class="logo">Wisple</div>
        <div class="social-icons">
            <a href="https://www.instagram.com/wisple.ia/" target="_blank" rel='noopener' aria-label="Siga-nos no instagram">
                <i class="fi insta"></i>
            </a>
            <a href="https://www.facebook.com/WispleApp/" target="_blank" rel='noopener' aria-label="Siga-nos no facebook">
                <i class="fi face"></i>
            </a>
            <a href="https://api.whatsapp.com/send?phone=+5516997229327" target="_blank" rel='noopener' aria-label="Converse com a gente no WhatsApp">
                <i class="fi whats"></i>
            </a>
        </div>
        <div id="maps"></div>
        <div class="links">
            <div></div>
            <div>
                <a data-scroll href='/#produto'>Produto</a>
                <a data-scroll href='/#vantagens'>Vantagens</a>
                <a data-scroll href='/#sobre'>Sobre Nós</a>
                <a data-scroll href='/#preco'>Preços</a>
                <a href='https://blog.wisple.app' target="_blank" rel='noopener'>Blog</a>
            </div>
            <div>
                <a href='/politica/privacidade.pdf' target="_blank">Política de Privacidade</a>
                <a href='/politica/cancelamento.pdf' target="_blank">Politica de Cancelamento</a>
            </div>
        </div>
    </div>
    <div class="copyright">
        Todos os direitos são resevados para Wisple© 2019
    </div>
</footer>