<header class="container header">
    <div class="logo">
        Wisple
    </div>
    <div class="hamburguer" id="menu"></div>
    <nav class="nav" id="nav">
        <a>Produto</a>
        <a>Vantagens</a>
        <a>Sobre Nós</a>
        <a>Preços</a>

        <div class="actions">
            <div class="btn blue outline">Entrar</div>
            <div class="btn blue">Quero Testar!</div>
        </div>
    </nav>
</header>