<header class="container header">
    <div class="logo"></div>
    <div class="hamburguer" id="menu"></div>
    <nav class="nav" id="nav">
        <div class="links">
            <a data-scroll href='/#produto'>Produto</a>
            <a data-scroll href='/#vantagens'>Vantagens</a>
            <a data-scroll href='/#sobre'>Sobre Nós</a>
            <a data-scroll href='/#catalogo'>Catálogo</a>
            <a href='https://blog.wisple.app' rel='noopener'>Blog</a>
        </div>

        <div class="actions">
            <a href="https://forms.gle/WoKvJ8KMLgtxDy6Z6" class="btn blue" target="_blank" rel="noopener noreferrer">Solicite Orçamento</a>
        </div>
    </nav>
</header>