<header class="container header">
    <div class="logo">
        Wisple
    </div>
    <div class="hamburguer" id="menu"></div>
    <nav class="nav" id="nav">
        <div class="links">
            <a href='/#produto'>Produto</a>
            <a href='/#vantagens'>Vantagens</a>
            <a href='/#sobre'>Sobre Nós</a>
            <a href='/#preco'>Preços</a>
            <a href='https://blog.wisple.app'>Blog</a>
        </div>

        <div class="actions">
            <a href="https://web.wisple.app/login" class="btn blue outline">Entrar</a>
            <a href="https://web.wisple.app/criar-usuario" class="btn blue">Testar Gratuitamente!</a>
        </div>
    </nav>
</header>