<div class="container main">
    <div class="info">
        {{{ principal.html }}}
    </div>
    <div class="ilustration">
        <div>
            <div class="phone phone-color">
                <div class="cam"></div>
                <div class="speaker"></div>
                <div class="frame">
                    <div class="sms">
                        {{ principal.meta.message }}
                    </div>
                    <div class="sms">
                        {{ principal.meta.message2 }}
                    </div>
                </div>
                <div class="button"></div>
            </div>
        </div>
    </div>
</div>