<div class="container main">
    <div class="info">
        {{{ principal.html }}}
    </div>
    <div class="ilustration">
        <div class="picture">
            <div data-img="/assets/images/main.jpeg" data-alt=""></div>
        </div>
    </div>
</div>