<div class="container main">
    <div class="info">
        <div class="prime">
            <img src="/assets/images/medal.png" alt="foto de uma medalha com o logo do wisple indicando que o nosso cliente é campeão">
            A <b>primeira</b> startup brasileira a usar <b>Inteligência Artificial</b> para envios de SMS
        </div>
        {{{ principal.html }}}
    </div>
    <div class="ilustration">
        <div>
            <div class="phone phone-color">
                <div class="cam"></div>
                <div class="speaker"></div>
                <div class="frame">
                    <div class="sms">
                        {{ principal.meta.message }}
                    </div>
                    <div class="sms-r">
                        {{ principal.meta.message2 }}
                    </div>
                    <div class="sms">
                        {{ principal.meta.message3 }}
                    </div>
                </div>
                <div class="button"></div>
            </div>
        </div>
    </div>
</div>