<div class="price" id="preco">
    <div class="container">
        <h3>Preço</h3>
        <div>
            {{#each precos}}
                <div class="card sms-price">
                    <div class="range">
                        De <span>{{meta.inicio}} mil</span> até <span>{{meta.fim}} mil</span> SMS
                    </div>
                    <div class="value {{#if meta.promocional}}promo{{/if}}">
                        <span>R$</span> {{meta.valor}}
                    </div>
                </div>
            {{/each}}
        </div>
    </div>

    <div class="container">
        <h3>Wisple Inteligente</h3>
        <div>
            {{#each inteligente}}
                <div class="card">
                    {{{ html }}}
                </div>
            {{/each}}
        </div>
    </div>
</div>