<div class="price">
    <div class="container">
        <h3>Preço</h3>
        <div>
            {{#each precos}}
                <div class="card">
                    {{{ html }}}
                </div>
            {{/each}}
        </div>
    </div>
</div>