<div class="price" id="preco">
    <div class="container values">
        <h3>Preço</h3>
        <div>
            {{#each precos}}
                <div class="card sms-price">
                    <div class="range">
                        De <span>{{meta.inicio}} mil</span> até <span>{{meta.fim}} mil</span> SMS
                    </div>
                    <div class="value {{#if meta.promocional}}promo{{/if}}">
                        <span>R$</span> {{meta.valor}}
                    </div>
                </div>
            {{/each}}
        </div>
    </div>

    <div class="container inteligence">
        <div class="text">
            {{{ inteligencia.html }}}
        </div>
        <div class="gif" data-style="background-image: url('/assets/images/prices/gifprecos.gif')"></div>
    </div>
</div>