<div class="product" id="produto">
    <div class="container">
        {{#each produto}}
            <div class="card">
                <div class="gif" data-style="background-image: url('/assets/images/product/{{meta.gif}}')"></div>
                <div class="content">
                    {{{ html }}}
                </div>
            </div>
        {{/each}}
    </div>
</div>