<div class="about" id="sobre">
    <div data-img="/assets/images/community.png" data-alt="Imagem de duas pessoas trabalhando se comunicação para dar apoio ao texto do nosso diferencial"></div>
    <div>
        {{{ sobre.html }}}
    </div>
</div>