<div class="features" id='vantagens'>
    <div class="list">
        <div class="arrow before"></div>
        {{#each vantagens}}
            <div class="btn" data-select='{{meta.chave}}'>
                {{ meta.nome }}
            </div>
        {{/each}}
        <div class="arrow after"></div>
    </div>
    <div class='content'>
        {{#each vantagens}}
            <div data-frame='{{meta.chave}}'>
                {{{ html }}}
            </div>
        {{/each}}
    </div>
</div>